body {
    font-family: Arial;
    background: rgb(200, 147, 230);
    text-align: center;
}

h1 {
    color: rgba(95, 111, 203, 0.883);
}

table {
    border-collapse: collapse;
    margin: 20px auto;
}

th, td {
    padding: 10px;
}

button {
    background: rgb(191, 0, 255);
    color: white;
    border-radius: 8px;
    padding: 8px 15px;
    border: none;
}
